/* styles.css */

/* Cambiar fuente para toda la web */
body {
    font-family: Arial, sans-serif;
}

/* Estilos para el encabezado */
header {
    background-color: #F2E3CE;
    padding: 20px;
    text-align: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin-right: 20px;
}

.topnav {
    background-color: #C5733D;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #C45824;
}

.split {
    float: right;
}

/* Estilos CSS para personalizar tu landing page */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    color: #C45824;
}

h4 {
    font-style: italic; /* Cursiva */
    font-size: 15px;
}

/* Estilos para el carrusel */
.carousel {
    display: flex;
    overflow: hidden;
}

.carousel img {
    transition: transform 0.5s ease;
    max-width: 100%;
    max-height: 200px;
}

.tab-pane {
    display: none;
}

ul {
    list-style-type: none;
}


/* Tamaño máximo para las imágenes */
.artwork img {
    max-width: 100%;
    max-height: 200px;
    }


.footer {
    background-color: #959B76;
    color: white;
    text-align: center;
    padding: 10px;
}